---
import PageLayout from "../layouts/PageLayout.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/Stats.astro";
import HelpCTA from "../components/HelpCTA.astro";
---

<PageLayout title="Cataventus" description="ONG Cataventus">
  <Hero title="Histórias que transformam vidas">
    <p class="text-2xl">
      Somos uma associação de voluntários que usa a contação de histórias como
      instrumento de inclusão social — com improviso, brincadeiras e uma
      metodologia inovadora.
    </p>
  </Hero>
  <Stats
    stats={[
      {
        amount: "+500.000",
        label: "pessoas atendidas",
        icon: "ph:users-three",
      },
      { amount: "+150", label: "voluntários ativos", icon: "ph:hand-heart" },
      { amount: "+1.000", label: "locais visitados", icon: "ph:buildings" },
      {
        amount: "+5.000",
        label: "cursos de contação de histórias",
        icon: "ph:book-open-text",
      },
    ]}
  />
  <HelpCTA />
</PageLayout>
