---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string | URL;
}

const { title, description, ogImage, canonicalURL } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  ogImage={ogImage}
  canonicalURL={canonicalURL}
>
  <slot name="head" slot="head" />

  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
